html, body {
    height: 100%;
    overflow: hidden;
    font-family: "Pixelify-Sans";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 65vh;
    width: 55vh;
    justify-content: space-around;
    align-items: center;
}

#ButtonBox {
    display: flex;
}

#DigitBox {
    display: flex;
}
.OperatorButton, .DigitButton {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}